/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: "Roboto", sans-serif;
}

/* Navbar */
#navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
}

/* Navbar Menu Button */
#navbar #menu-icon {
  display: none;
  color: var(--primary-color);
}

/* Navbar Logo & Links */

#navbar .navigation-section {
  display: flex;
}

#navbar .logo-section {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

#navbar .navigation-section a {
  color: var(--gray);
  text-decoration: none;
  flex-shrink: 0;
}

/* Logo Icon */
#navbar .logo-section .logo {
  width: 2rem;
  padding: 0.2rem;
  position: relative;
  bottom: 0.18rem;
}

/* Logo Text */
#navbar .logo-section #logo-text {
  padding: 0.5rem;
  padding-left: 0.1rem;
  font-size: 1.2rem;
  color: var(--gray);
}

/* Navbar List Of Items */
#navbar #nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 3.5rem;
}

#navbar #nav-items .nav-item a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--light-gray);
}

#navbar #nav-items .nav-item a:hover {
  color: var(--light-primary-color);
}

/* Sign in Button section */
#navbar .nav-btn {
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

/* Mobiles & Tablets */
@media (max-width: 768px) {
  /* Navbar */
  #navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    position: relative;
  }

  #navbar #menu-icon {
    display: flex;
    margin-left: 1rem;
    cursor: pointer;
  }

  #navbar .nav-btn {
    display: flex;
    flex-shrink: 0;
  }
  #navbar .nav-btn .btn {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
  }

  #navbar #nav-items {
    display: none;
  }
  #navbar #nav-items {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 70%;
    text-align: center;
    align-items: flex-end;
  }
  #navbar.menu-open #nav-items {
    display: flex;
    padding: 0.5rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--dark-color);
    opacity: 0.9;
  }

  #navbar.menu-open #nav-items .nav-item {
    width: 100%;
  }

  #navbar.menu-open #nav-items .nav-item a {
    color: #fff;
    border-bottom: 1px solid var(--light-gray);
    display: inline-block;
    width: 92%;
    transition: background-color 0.5s;
  }

  #navbar.menu-open #nav-items .nav-item:last-child a {
    border-bottom: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  #navbar.menu-open #nav-items .nav-item a:hover {
    color: var(--light-primary-color);
    background-color: var(--gray);
  }
}

/* Tablets */
@media (min-width: 501px) and (max-width: 768px) {
  /* Navbar */
  #navbar {
    padding: 1rem 2rem;
  }
  #navbar #menu-icon {
    margin-left: 1.5rem;
  }

  #navbar #nav-items {
    top: 5rem;
  }
}

/* Medium Screens */
@media (min-width: 769px) and (max-width: 800px) {
    #navbar {
        justify-content: space-between;
        padding: 1rem 1rem 0 1rem;
      }
  #navbar .nav-btn .btn {
    padding: 0.5rem 1rem;
  }

  #navbar #nav-items {
    margin-right: 0;
  }

  #navbar #nav-items .nav-item a {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 801px) and (max-width: 920px) {
  #navbar {
    padding: 1rem 1rem 0 1rem;
  }

  #navbar .nav-btn .btn {
    padding: 0.5rem 1rem;
  }

  #navbar #nav-items {
    margin-right: 0;
  }

  #navbar #nav-items .nav-item a {
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 921px) and (max-width: 1024px) {
  #navbar {
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
  }

  #navbar .nav-btn {
    display: flex;
    flex-shrink: 0;
  }
  #navbar .nav-btn .btn {
    padding: 0.5rem 1rem;
  }

  #navbar #nav-items {
    margin-right: 0;
  }

  #navbar #nav-items .nav-item a {
    padding: 1rem;
  }
}

/* Large Screens */
@media (min-width: 1025px) and (max-width: 1190px) {
  #navbar {
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }

  #navbar .nav-btn {
    display: flex;
    flex-shrink: 0;
  }

  #navbar #nav-items {
    margin-right: 0;
  }

  #navbar #nav-items .nav-item a {
    padding: 1rem 1.2rem;
  }
}
