/* Loading Fonts */
@font-face {
    font-family: 'PrimaryFont';
    src: url('../fonts/primaryfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* Styling Fonts */
.primary-font {
    font-family: PrimaryFont, PrimaryFont, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

/* Text */
.text-primary {
    color: var(--primary-color);
}

.text-light {
    color: var(--light-color);
}

.text-dark {
    color: var(--dark-color);
}

/* Backgrounds */
.bg-light,
.bg-smoke {
    color: var(--dark-color);
}

.bg-dark,
.bg-primary {
    color: var(--light-color);
}

.bg-light {
    background-color: var(--light-color);    
}

.bg-smoke {
    background-color: var(--smoke);
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-primary {
    background-color: var(--primary-color);
}


/* Buttons */
.btn {
    padding: 0.8rem 3.5rem;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    transition: 0.4s;
}

.btn:hover {
    cursor: pointer;
}

.btn-dark, 
.btn-primary {
    color: var(--light-color);
}

.btn-dark {
    background-color: var(--dark-color);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-dark:hover {
    color: var(--light-color);
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--dark-primary-color);
}


/* ============= Page Components ================ */

/* Page Headers */
header .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    min-height: 25rem;
    padding: 6rem;
}

.content .content-header {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }