@use "utilities" as u;
@forward "base";
@forward "components";
@forward "utilities";
@forward "layout";

// Hero Section
.hero {
  height: calc(100vh - u.$navbar-height);
  width: 100%;
  background: url("../images/hero.png") no-repeat center center/cover;
  background-color: hsla(0, 0%, 0%, 0.685);
  background-blend-mode: darken;

  // Medium Screens
  @include u.breakpoint("medium") {
    height: calc(100vh - u.$rows-navbar-height);
  }

  // Small Screens
  @include u.breakpoint("small") {
    height: calc(100vh - u.$navbar-height);
  }
}






