/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  --webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  --webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
  color: hsl(0, 0%, 41%);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}

.page-title {
  font-family: "Genos", "Bitter", Georgia, Garamond, serif;
  font-size: clamp(1.2rem, 2rem + 2vw, 3.5rem);
  color: hsl(0, 0%, 100%);
  text-shadow: -2px 4px 4px #222;
  margin-top: 2.5rem;
}

.section-title {
  font-family: "Bitter", Georgia, Garamond, serif;
  margin-bottom: 0;
  font-weight: 400;
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2.4rem);
  color: hsl(22, 75%, 31%);
  white-space: nowrap;
}

.lead {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2.4rem);
  font-family: "Lato", System-ui, -apple-system, sans-serif;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

@font-face {
  font-family: "primary-font";
  src: url("../../assets/fonts/primaryfont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", System-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

body * {
  outline-color: hsl(22, 75%, 31%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding-left: 0;
}

input[type=date]:not(:focus):in-range::-webkit-datetime-edit-year-field,
input[type=date]:not(:focus):in-range::-webkit-datetime-edit-month-field,
input[type=date]:not(:focus):in-range::-webkit-datetime-edit-day-field,
input[type=date]:not(:focus):in-range::-webkit-datetime-edit-text {
  color: transparent;
}

.container {
  width: min(100%, 68.75rem);
  margin-inline: auto;
}
@media (max-width: 78.75em) {
  .container {
    padding-inline: 2em;
  }
}

.section {
  margin-bottom: 5rem;
}

.section-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.icon-main {
  color: hsl(22, 75%, 31%);
}

.icon-light {
  color: hsl(0, 0%, 100%);
}

.bg-dark {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

.bg-light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
}

.bg-main {
  background-color: hsl(22, 75%, 31%);
  color: hsl(0, 0%, 100%);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.py-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.px-3 {
  padding-inline: 3rem;
}

.px-4 {
  padding-inline: 4rem;
}

.px-5 {
  padding-inline: 5rem;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-auto {
  margin-inline: auto;
}

.mx-1 {
  margin-inline: 1rem;
}

.mx-2 {
  margin-inline: 2rem;
}

.mx-3 {
  margin-inline: 3rem;
}

.mx-4 {
  margin-inline: 4rem;
}

.mx-5 {
  margin-inline: 5rem;
}

.ornament-btn, .btn, .btn-outline, a.btn-main {
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
}

.btn-outline, a.btn-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 3rem;
}

.btn {
  padding: 1em 2em;
  background-color: hsl(22, 75%, 31%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.3125em;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.btn:hover, .btn:focus {
  background-color: hsl(22, 84%, 37%);
}

a.btn-main {
  background-color: hsl(22, 75%, 31%);
  color: hsl(0, 0%, 100%);
}
a.btn-main:hover, a.btn-main:focus {
  background-color: hsl(22, 84%, 37%);
}

.btn-outline {
  padding-right: 3rem;
  background-color: transparent;
  color: hsl(22, 75%, 31%);
  text-align: left;
}
.btn-outline:hover, .btn-outline:focus {
  background-color: hsl(22, 75%, 31%);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 3rem;
}

.ornament-btn::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1px;
  background-color: white;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
  transition: width 0.4s ease;
}
.ornament-btn::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 2px;
  background-color: transparent;
  top: 50%;
  right: 1.2rem;
  border: 0 solid transparent;
  border-width: 3px 0 3px 6px;
  border-left-color: white;
  transform: translateY(-50%);
}
.ornament-btn:hover {
  padding-inline: 2rem 4rem;
}
.ornament-btn:hover::before {
  width: 20%;
}

.line-left, .line-right, .line-right-only {
  display: inline-block;
  height: 2px;
  background-color: #000;
  width: 5em;
  position: relative;
}

.line-left::after, .line-right::after, .line-right-only::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: inherit;
}

.line-right-only {
  margin-left: 1em;
}
.line-right-only::after {
  left: -0.4rem;
}
@media (min-width: 48em) {
  .line-right-only::after {
    left: calc(100% - 0.4rem);
  }
}

.line-left-variable {
  display: inline-block;
  height: 2px;
  background-color: #000;
  width: 5em;
  position: relative;
  margin-right: 1em;
}
@media (min-width: 48em) {
  .line-left-variable {
    display: none;
  }
}
.line-left-variable::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: inherit;
  right: -0.4rem;
}

.line-right {
  margin-left: 1rem;
}
.line-right::after {
  left: -0.4rem;
}

.line-left {
  margin-right: 1em;
}
.line-left::after {
  right: -0.4rem;
}

@media (max-width: 47.99875em) {
  .line {
    display: none;
  }
}

.navbar__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.75em;
  margin: auto;
  padding: 0.4em 0 0.2em;
}
@media (max-width: 78.75em) {
  .navbar__wrapper {
    padding-inline: 2em;
  }
}
@media (max-width: 68.74875em) {
  .navbar__wrapper {
    height: 6.25em;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 1.2em;
  }
}
@media (max-width: 47.99875em) {
  .navbar__wrapper {
    height: 3.75em;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.logo {
  width: 11rem;
}

.navbar,
.navbar__collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 80%;
}
@media (max-width: 68.74875em) {
  .navbar,
  .navbar__collapse {
    flex-basis: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 47.99875em) {
  .navbar,
  .navbar__collapse {
    display: none;
    padding: 2.5em 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 3%, 6%, 0.932);
    backdrop-filter: blur(4px);
    width: 65%;
    height: 100dvh;
    height: 100vh;
    overflow: auto;
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    animation: slide-in-right 0.2s linear forwards;
  }
}
@media (max-width: 36em) {
  .navbar,
  .navbar__collapse {
    width: 80%;
  }
}
@keyframes slide-in-right {
  100% {
    transform: translateX(0);
  }
}
.navbar__list,
.navbar__collapse__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}
@media (max-width: 47.99875em) {
  .navbar__list,
  .navbar__collapse__list {
    width: 100%;
    flex-direction: column;
    margin-bottom: 1.5em;
  }
}
.navbar__item,
.navbar__collapse__item {
  text-align: center;
  margin-right: 1.5em;
}
@media (max-width: 68.74875em) {
  .navbar__item,
  .navbar__collapse__item {
    margin-right: 1.2em;
  }
}
@media (max-width: 47.99875em) {
  .navbar__item,
  .navbar__collapse__item {
    font-size: 1rem;
    width: 80%;
    margin: 0.5em;
    margin-top: 1.5em;
  }
}
.navbar__link,
.navbar__collapse__link {
  display: inline-block;
  width: 100%;
  padding: 1em 0.5em;
  border-bottom: 2px solid transparent;
  text-align: center;
  color: hsl(0, 0%, 60%);
  transition: color 0.1s ease-in;
}
@media (max-width: 68.74875em) {
  .navbar__link,
  .navbar__collapse__link {
    padding-bottom: 1em;
    border-width: 1px;
  }
}
.navbar__link:hover, .navbar__link:focus,
.navbar__collapse__link:hover,
.navbar__collapse__link:focus {
  border-color: hsl(22, 84%, 37%);
  color: hsl(22, 75%, 31%);
}
@media (max-width: 47.99875em) {
  .navbar__link:hover, .navbar__link:focus,
  .navbar__collapse__link:hover,
  .navbar__collapse__link:focus {
    border-color: transparent;
  }
}
.navbar__btn,
.navbar__collapse__btn {
  padding: 0.8em 4em;
  white-space: nowrap;
}
@media (max-width: 68.74875em) {
  .navbar__btn,
  .navbar__collapse__btn {
    padding: 0.6em 3em;
  }
}

@media (max-width: 47.99875em) {
  .blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    animation: blur-dark 0.2s linear forwards;
  }
}
@keyframes blur-dark {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
  }
}

.hamburger__btn {
  display: none;
}
@media (max-width: 47.99875em) {
  .hamburger__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0.8em;
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
  }
}
.hamburger__btn .hamburger__icon {
  display: inline-block;
  width: 1.8em;
  height: 3px;
  background-color: #333;
  position: relative;
  border-radius: 5px;
}
.hamburger__btn .hamburger__icon::before, .hamburger__btn .hamburger__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  right: 0;
  border-radius: inherit;
  transform-origin: center;
  transition: 0.2s linear;
}
.hamburger__btn .hamburger__icon::before {
  top: -0.55em;
}
.hamburger__btn .hamburger__icon::after {
  top: 0.55em;
}
@media (max-width: 47.99875em) {
  .hamburger__btn .hamburger__icon__active {
    background-color: transparent;
  }
  .hamburger__btn .hamburger__icon__active::before, .hamburger__btn .hamburger__icon__active::after {
    top: 0;
    background-color: #666;
    height: 2px;
  }
  .hamburger__btn .hamburger__icon__active::before {
    transform: rotate(-45deg);
  }
  .hamburger__btn .hamburger__icon__active::after {
    transform: rotate(45deg);
  }
}

.expand__navbar {
  /* Exclusively for small breakpoints to prevent the class from altering the default stylings on large screens */
}
@media (max-width: 47.99875em) {
  .expand__navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .expand__navbar .navbar__link {
    color: hsl(0, 0%, 60%);
  }
  .expand__navbar .navbar__link:hover {
    color: hsl(22, 84%, 37%);
  }
}
@media (max-width: 47.99875em) {
  .expand__navbar .navbar__link__active {
    font-weight: bold;
    color: hsl(22, 75%, 31%);
  }
}

@media (max-width: 47.99875em) {
  .collapse__navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: slide-out-right 0.2s linear forwards;
    transform: translateX(0);
  }
  @keyframes slide-out-right {
    100% {
      display: none;
      transform: translateX(100%);
    }
  }
}

a.navbar__link__active {
  color: hsl(22, 75%, 31%);
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.7);
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 180deg;
}
:root {
  --clr1: #4b2b1883;
  --clr2: #612c0e7e;
  --clr3: #7942228f;
  --clr4: #b65e2b;
}

.form--showcase {
  display: grid;
  grid-template-areas: "location location location" "check-in check-in check-in" "check-out check-out check-out" "adults adults adults" ". submit .";
  gap: 2em;
}
@media (min-width: 15.625em) {
  .form--showcase {
    grid-template-areas: "location" "check-in" "check-out" "adults" "submit";
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 36em) {
  .form--showcase {
    grid-template-areas: "location location" "check-in check-out" "adults submit";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 48em) {
  .form--showcase {
    grid-template-areas: "location location check-in" "check-out adults submit";
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
@media (min-width: 68.75em) {
  .form--showcase {
    grid-template-areas: "location check-in check-out adults submit";
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
  }
}
.form--showcase .form__group--showcase {
  position: relative;
  text-align: left;
}
.form--showcase .form__group--showcase-location {
  grid-area: location;
}
.form--showcase .form__group--showcase-check-in {
  grid-area: check-in;
}
.form--showcase .form__group--showcase-check-out {
  grid-area: check-out;
}
.form--showcase .form__group--showcase-adults {
  grid-area: adults;
}
.form--showcase .border-decorator {
  position: relative;
  background-color: #53260c;
  width: 100%;
}
.form--showcase .border-decorator::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 4px;
  background: conic-gradient(from var(--gradient-angle), var(--clr4), transparent);
  z-index: 0;
  animation: spin 6s linear infinite;
}
@keyframes spin {
  0% {
    --gradient-angle: 180deg;
  }
  100% {
    --gradient-angle: -180deg;
  }
}
.form--showcase .form__control {
  width: 100%;
  font-size: 1.1rem;
  padding: 1em 1em;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in;
  position: relative;
}
.form--showcase .form__control:focus {
  outline: none;
}
.form--showcase .form__label {
  color: hsl(0, 0%, 41%);
  position: absolute;
  top: 50%;
  left: 1.2em;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.2s ease-in;
}
.form--showcase .form__label i {
  margin-right: 0.25em;
}
.form--showcase .label-active {
  top: 0;
  left: 0;
  width: 100px;
  text-align: center;
  border-radius: 0 0 6px 2px;
  color: aliceblue;
  background: linear-gradient(to right, #53260c, #853506);
  box-shadow: 0 0 2px #222;
  padding: 0.2em;
  font-size: 0.9rem;
}
.form--showcase-submit {
  grid-area: submit;
  white-space: nowrap;
  padding: 1em 1.5em;
  color: aliceblue;
  font-size: 1rem;
}
.form--showcase-submit i {
  margin-right: 0.2em;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 3.75em);
  min-height: calc(100dvh - 3.75em);
  width: 100%;
  background: url("../images/hero.png") no-repeat center center/cover;
  background-color: hsla(0, 0%, 0%, 0.685);
  background-blend-mode: darken;
}
@media (max-width: 68.74875em) {
  .hero {
    min-height: 35em;
  }
}
@media (max-width: 47.99875em) {
  .hero {
    min-height: calc(100vh - 3.75em);
    min-height: calc(100svh - 3.75em);
  }
}
@media (min-width: 75em) {
  .hero {
    min-height: 35em;
  }
}
@media (min-width: 36em) {
  .hero .showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }
}
@media (min-width: 68.75em) {
  .hero .showcase {
    margin-top: 10%;
  }
}
@media (min-width: 75em) {
  .hero .showcase {
    margin-top: 5%;
  }
}
.hero .showcase__box {
  background-color: rgba(116, 111, 111, 0.35);
  backdrop-filter: blur(2px);
  border-radius: 6px;
  padding: 2.5em 2em;
}

#home-a .grid-container {
  display: grid;
  grid-template-areas: "img" "text";
  grid-template-rows: 1fr;
  row-gap: 2rem;
}
@media (min-width: 48em) {
  #home-a .grid-container {
    grid-template-areas: "text img";
    grid-template-columns: 1fr auto;
    grid-template-rows: 18.75rem;
    column-gap: 5rem;
  }
}
@media (min-width: 68.75em) {
  #home-a .grid-container {
    column-gap: 5rem;
  }
}
#home-a .grid-container .visual-content {
  grid-area: img;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 48em) {
  #home-a .grid-container .visual-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
#home-a .grid-container .visual-content .back-image {
  width: 70%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 0 7px 1px #333;
  object-fit: cover;
}
#home-a .grid-container .visual-content .front-image {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 3px hsl(0, 0%, 100%), 1px 1px 10px #333;
  border-radius: 0 0 4px 4px;
}
@media (min-width: 36em) {
  #home-a .grid-container .visual-content .front-image {
    width: 50%;
    height: 60%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}
#home-a .grid-container .text-content {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48em) {
  #home-a .grid-container .text-content {
    text-align: left;
  }
}
@media (min-width: 36em) {
  #home-a .grid-container .text-content {
    display: block;
  }
}
#home-a .grid-container .text-content .section-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48em) {
  #home-a .grid-container .text-content .section-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
#home-a .grid-container .text-content .lead {
  margin-bottom: 1.5rem;
}
@media (min-width: 48em) {
  #home-a .grid-container .text-content .lead {
    margin-block: 1rem 0.8rem;
  }
}
@media (min-width: 48em) {
  #home-a .grid-container .text-content .lead {
    text-align: left;
  }
}
#home-a .grid-container .text-content .read-more {
  margin-top: 1.4rem;
}

#home-b .services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  row-gap: 1.2rem;
  column-gap: 3rem;
}
@media (min-width: 48em) {
  #home-b .services {
    column-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 1.5rem;
  }
}
@media (min-width: 75em) {
  #home-b .services {
    grid-template-columns: repeat(5, 1fr);
  }
}
#home-b .services .service {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  line-height: 1.4;
  place-self: center;
  width: 80%;
}
@media (min-width: 48em) {
  #home-b .services .service {
    width: 100%;
  }
  #home-b .services .service:nth-child(2) {
    display: none;
  }
}
@media (min-width: 75em) {
  #home-b .services .service:nth-child(2) {
    display: unset;
  }
}
#home-b .services .service__icon {
  font-size: clamp(1.2rem, 1.5rem + 2vw, 1.8rem);
}
#home-b .services .service__title {
  margin-block: 0.5rem 1rem;
}
#home-b .services .service__paragraph {
  font-size: clamp(0.4rem, 0.5rem + 2vw, 0.8rem);
}

/*# sourceMappingURL=style.css.map */
