@use "functions" as *;

$breakpoints: (
  "xx-small": em(250),
  "x-small": em(576),
  "small": em(767.98),
  "medium": em(1099.98),
  "large": em(1260),
  "x-large": em(1400)
);

$down-breakpoints: (
  "x-small": em(250),
  "small": em(576),
  "medium": em(768),
  "large": em(1100),
  "x-large": em(1200),
  "xx-large": em(1400)
);

// Breakpoint for max-width
@mixin breakpoint($screen-size) {
  @media (max-width: map-get($breakpoints, $screen-size)) {
    @content;
  }
}

// Breakpoint for min-width
@mixin breakpoint-down($screen-size) {
  @media (min-width: map-get($down-breakpoints, $screen-size)) {
    @content;
  }
}

/// Make a flex container
/// @param $horizontal - Horizontal alignment of items
/// @param $vertical - Vertical aligment of items
/// @param $direction - Flex direction
/// @output 'display', 'flex-direction','justify-content' and 'align-items'
@mixin flex($horizontal: center, $vertical: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  @if $direction == row or $direction == row-reverse {
    justify-content: $horizontal;
    align-items: $vertical;
  } @else {
    justify-content: $vertical;
    align-items: $horizontal;
  }
}

// The font used for page title needs configurations to be shown good
@mixin primaryFont() {
  font-weight: 800;
  letter-spacing: 3px;
  word-spacing: -10px;
}