@use "functions" as *;

$breakpoints: (
  "xx-small": em(250),
  "x-small": em(576),
  "small": em(767.98),
  "medium": em(1099.98),
  "large": em(1260),
  "x-large": em(1400)
);

@mixin breakpoint($screen-size) {
  @media (max-width: map-get($breakpoints, $screen-size)) {
    @content;
  }
}

/// Make a flex container
/// @param $horizontal - Horizontal alignment of items
/// @param $vertical - Vertical aligment of items
/// @param $direction - Flex direction
/// @output 'display', 'flex-direction','justify-content' and 'align-items'
@mixin flex($horizontal: center, $vertical: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  @if $direction == row or $direction == row-reverse {
    justify-content: $horizontal;
    align-items: $vertical;
  } @else {
    justify-content: $vertical;
    align-items: $horizontal;
  }
}