@use "functions" as *;

// Colors
$dark-color: hsl(0, 0%, 20%);
$main-color: hsl(22, 75%, 31%);
$main-color-light: hsl(22, 84%, 37%);
$light-color: hsl(0, 0%, 100%);
$light-grey: hsl(0, 0%, 60%);
$medium-color: hsl(0, 0%, 41%);
$text-color: hsl(0, 1%, 27%);
$expand-navbar-background: hsla(0, 2%, 11%, 0.85);

// Fonts
$page-title-font: "primary-font", "Bitter", Georgia, Garamond, serif;
$section-title-font: "Bitter", "Genos",Georgia, Garamond, serif;
$lato-font: "Lato", System-ui, -apple-system, sans-serif;

// Width
$max-width: rem(1200);

// Height
$navbar-height: em(60);
$rows-navbar-height: em(100);
