// Colors
$dark-color: hsl(0, 0%, 20%);
$light-color: hsl(0, 0%, 100%);
$heading-color: hsl(0, 0%, 41%);
$buttons-color: hsl(22, 75%, 31%);
$hover-color: hsl(33, 96%, 48%);
$light-text-color: hsl(0, 0%, 95%);