@use "../utilities" as u;

.navbar__wrapper {
  @extend %flex-horizontal-space;

  height: u.em(60);
  margin-inline: 1.4em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.logo {
  width: 11rem;
}

.navbar {
  @extend %flex-horizontal-space;

  flex-basis: 80%;
  padding-inline: 1em;

  // Hide Navigation on Mobiles
  @include u.breakpoint("small") {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item {
    margin-right: 1.5rem;
  }

  &__link {
    display: inline-block;
    padding: 1em 0.5em;
    border-bottom: 1px solid transparent;
    text-align: center;
    color: u.$heading-color;
    transition: color 0.1s ease-in;

    &:hover,
    &:focus {
      border-color: u.$button-color-light;
      color: u.$button-color;
    }

    &__active {
      color: u.$button-color;
    }
  }

  // Increasing specifity of this btn
  &__btn.btn {
    padding: 0.8em 4em;
    white-space: nowrap;
  }
}


.hamburger__btn {
  display: flex;
  align-items: center;
  padding: 1em 0.8em;
  cursor: pointer;

  .hamburger__icon {
    // Hide by default
    display: none;
  
    // Show on smaller screens
    @include u.breakpoint('small') {
      display: inline-block;
      width: 1.6em;
      height: 2px;
      background-color: #000;
      position: relative;
    
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        right: 0;
      }
    
      &::before {
        top: -0.55em;
      }
      
      &::after {
        top: 0.55em;
      }
  
    }
  }
}
