@use '../utilities' as u;

.navbar__wrapper {
    @extend %flex-horizontal-space;
    padding-block: 1em;
    margin-inline: 1.4em;

  .logo {
    width: 10rem;
  }

  .navbar {
    @extend %flex-horizontal-space;
    flex-basis: 80%;
    padding-inline: 1em;
    

    &__list {
      display: flex;
      list-style: none;
    }

    &__item {
        margin-right: 1.5em;
    }

    &__link {
        font-size: 1.2rem;
        text-decoration: none;
        
    }

    &__btn {
        
    }
  }
}
