@use "../utilities" as u;

// Navbar container
.navbar__wrapper {
  @extend %flex-horizontal-space;

  height: u.em(60);
  margin-inline: 1.4em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

// Logo
.logo {
  width: 11rem;
}

// Navigation Menu
.navbar {
  @extend %flex-horizontal-space;

  flex-basis: 80%;
  padding-inline: 1em;

  // Hide Navigation on Mobiles
  @include u.breakpoint("small") {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item {
    margin-right: 1.5rem;
  }

  &__link {
    display: inline-block;
    padding: 1em 0.5em;
    border-bottom: 1px solid transparent;
    text-align: center;
    color: u.$heading-color;
    transition: color 0.1s ease-in;

    &:hover,
    &:focus {
      border-color: u.$button-color-light;
      color: u.$button-color;
    }

    &__active {
      color: u.$button-color;
    }
  }

  //The navbar sign in btn
  &__btn {
    padding: 0.8em 4em;
    white-space: nowrap;
  }
}

// Toggle menu button
.hamburger__btn {
  display: none; // Hide by default

  @include u.breakpoint("small") {
    display: flex;
    align-items: center;
    padding: 1em 0.8em;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  // Bars icon
  .hamburger__icon {
    display: inline-block;
    width: 1.6em;
    height: 2px;
    background-color: #000;
    position: relative;

    // Top & bottom bars
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: inherit;
      right: 0;
    }

    &::before {
      top: -0.55em;
    }

    &::after {
      top: 0.55em;
    }
  }
}
