@use "../utilities/" as u;

// General button placeholder
%btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
}

// Button on the page
%page-btn {
  @extend %btn;
  display: inline-flex;
  justify-content: center;
  align-items: center; // Centers the text vertically and horizontally
  padding: 0.5rem 3rem;
}

// Normal Button
.btn {
  @extend %btn;
  padding: 1em 2em;
  background-color: u.$main-color;
  color: u.$light-color;
  border-radius: u.em(5);
  cursor: pointer;
  transition: all 0.4s ease-out;

  &:hover,
  &:focus {
    background-color: u.$main-color-light;
  }
}

// Main Page Buttons
a.btn-main,
button.btn-main {
  @extend %page-btn;
  background-color: u.$main-color;
  color: u.$light-color;

  &:hover,
  &:focus {
    background-color: u.$main-color-light;
  }
}

// Outlined Page Buttons
a.btn-outline,
button.btn-outline {
  @extend %page-btn;
  padding-right: 3rem;
  background-color: transparent;
  color: u.$main-color;
  text-align: left;

  &:hover,
  &:focus {
    background-color: u.$main-color;
    color: u.$light-color;
    padding: 0.5rem 3rem;
  }
}

// Button ornaments
a.ornament-btn,
button.ornament-btn,
a.ornament-btn-outline,
button.ornament-btn-outline {
  @extend %btn;
  // The arrow line
  &::before {
    content: "";
    position: absolute;
    width: 1.3rem;
    height: 1px;
    background-color: white;
    top: 50%;
    right: 1.4rem;
    transform: translateY(-50%);
    transition: width 0.4s ease;
  }

  // The arrow triangle
  &::after {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 2px;
    background-color: transparent;
    top: 50%;
    right: calc(1.4rem - 0.2rem);
    border: 0 solid transparent;
    border-width: 3px 0 3px 6px;
    border-left-color: white;
    transform: translateY(-50%);
  }

  &:hover {
    padding-inline: 2rem 4rem;

    &::before {
      width: 20%;
    }
  }
}
