@use '../utilities/' as u;

// General placeholder
%btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

// Normal Button
.btn {
    @extend %btn;    
    padding: 1em 2em;
    background-color: u.$main-color;
    color: u.$light-color;
    border-radius: u.em(5);
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:hover,
    &:focus {
        background-color: u.$main-color-light;
    }
}

// Main Buttons
.btn-main {
    @extend %btn;
    padding: 0.8rem 3rem;
    background-color: u.$main-color;
    color: u.$light-color;

    &:hover,
    &:focus {
        background-color: u.$main-color-light;
    }
}

// Outlined Buttons
.btn-outline {
    @extend %btn;
    padding: 0.8rem 0;
    padding-right: 3rem;
    background-color: transparent;
    color: u.$main-color;
    text-align: left;

    &:hover,
    &:focus {
        background-color: u.$main-color;
        color: u.$light-color;
        padding: 0.8rem 3rem;
    }
}