@use "../utilities" as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: u.$dark-color;
}

a:hover,
a:focus {
  color: u.$main-color-light;
}


.page-title {
  font-family: u.$page-title-font;
  @include u.primaryFont;
  font-size: clamp(1.2rem, 1.2rem + 2vw, 3rem);
  color: u.$light-color;
  text-shadow: -2px 4px 4px #222;
  margin-top: 2.5rem;
}

.section-title {
  font-family: u.$section-title-font;
}

.text-center {
  text-align: center;
}