@use "../utilities" as u;

body {
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
  color: u.$medium-color;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: u.$dark-color;
}

.page-title {
  font-family: u.$page-title-font;
  font-size: clamp(1.2rem, 2rem + 2vw, 3.5rem);
  color: u.$light-color;
  text-shadow: -2px 4px 4px #222;
  margin-top: 2.5rem;
}

.section-title {
  font-family: u.$section-title-font;
  margin-bottom: 0;
  font-weight: 400;
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2.4rem);
  color: u.$main-color;
  white-space: nowrap;
}

.lead {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2.4rem);
  font-family: u.$lato-font;
  color: u.$dark-color;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}