@use "../utilities" as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

.page-title {
  font-family: u.$page-title-font;
}

.section-title {
  font-family: u.$section-title-font;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: u.$dark-color;
}

a:hover,
a:focus {
  color: u.$main-color-light;
}
